<div>
{% extends "Empty.html" %}
{% load static %}
    {% block ContenidoCambia %}
            <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.postimg.cc/XvF5LZJy/Imagen1.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">LAMBDA: Materiales de construcción</h1>
                    <p>Somos una empresa con más de 20 años en el rubro, proveyendo los materiales que tu familia o empresa necesitan para construir el futuro que desean.</p>
                    <a class="btn btn-primary" href="../Productos/">Conoce nuestros productos</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">"El futuro está oculto detrás de los hombres que lo hacen" (Anatole France) y desde LAMBDA S.R.L. estamos para ayudarte a construirlo </p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Clientes</h2>
                            <p class="card-text">Se parte de nuestra familia, registrate para recibir la atención más personalizada del mercado.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="../Clientes/">Registrate!</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Vendedores</h2>
                            <p class="card-text">Contamos con profesionales de la construccion que te brindaran sus recomendaciones para que tu proyecto sea de igual calidad que nuestros productos.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="../Vendedores/">Encuentra el vendedor más cercano</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Trabaja con nosotros</h2>
                            <p class="card-text">Estamos en crecimiento, queremos contar con vos! Si estas interesado en formar parte de nuestro staff, envianos tus datos aquí.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="../RecursosHumanos/">Unite!</a></div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
</div>